<div>
    <h3 class="form-header">{{powerName}} by {{actorName}}</h3>

    <div class="pccHeader">
        <div class="row">
            <div class="column">
                <ul>
                    <li>{{powerName}}'s Base PP: {{basePP}}</li>
                    <li>{{actorName}}'s Power Limit: {{powerLimit}}</li>
                    <li>{{actorName}}'s Mod Limit: {{modLimit}}</li>
                </ul>
            </div>
            <div class="column">
                <p><b>{{totalPPCost}} Total PP</b> ({{basePP}} base, +{{totalPPModCost}} mods)</p>
                <p><b>{{currentNumMods}} mods added</b></p>
                {{#if isWildCast}}<b>WILD MAGIC CASTING</b>{{/if}}
            </div>
        </div>
    </div>

    <button class="capture-current" type="button" data-user="{{ this.actorName }}"
            data-action="rollIt">
        Roll it!
    </button>

    <br />

    <fieldset class="rmg-fieldset-styling"> <!-- class="input-grid" gives 2-col (or more?) -->
        <legend>Power modifiers from SWADE System</legend>
        {{#each systemMods}}
            {{#if this.radioButtons}}
                <div class="form-group">
                    <label>{{this.name}}</label>
                    <div class="form-fields">
                        {{#each this.radioButtons}}
                            <input type="radio"
                                   name="{{this.group}}"
                                   id="{{this.id}}"
                                   value="{{this.id}}"
                                   data-dtype="String"
                                   {{checked this.checked}} />
                            <label class="radio-label" for="{{this.id}}">
                                {{this.name}}
                            </label>
                        {{/each}}
                    </div>
                    <p class="hint">{{this.hint}}</p>
                </div>
            {{else}}

                <div class="form-group">
                    <div class="form-fields">
                        <input type="checkbox" name="{{this.id}}"
                               data-dtype="Boolean" {{checked this.checked}} />
                    </div>
                    <label>{{this.name}} ({{this.cost}} PP)</label>
                    <p class="hint">{{this.hint}}</p>
                </div>
            {{/if}}
        {{/each}}
    </fieldset>

    <br />

    {{#if powerHasDamage}}
        <fieldset class="rmg-fieldset-styling"> <!-- class="input-grid" gives 2-col (or more?) -->
            <legend>Damaging power modifiers from SWADE System</legend>
            {{#each systemDamageMods}}
                {{#if this.radioButtons}}
                    <div class="form-group">
                        <label>{{this.name}}</label>
                        <div class="form-fields">
                            {{#each this.radioButtons}}
                                <input type="radio"
                                       name="{{this.group}}"
                                       id="{{this.id}}"
                                       value="{{this.id}}"
                                       data-dtype="String"
                                    {{checked this.checked}} />
                                <label class="radio-label" for="{{this.id}}">
                                    {{this.name}}
                                </label>
                            {{/each}}
                        </div>
                        <p class="hint">{{{this.hint}}}</p>
                    </div>
                {{else}}

                    <div class="form-group">
                        <div class="form-fields">
                            <input type="checkbox" name="{{this.id}}"
                                   data-dtype="Boolean" {{checked this.checked}} />
                        </div>
                        <label>{{this.name}} ({{this.cost}} PP)</label>
                        <p class="hint">{{{this.hint}}}</p>
                    </div>
                {{/if}}
            {{/each}}
        </fieldset>
    {{/if}}
    <br />

    <fieldset class="input-grid">
        <legend>Power modifiers from {{powerName}} power</legend>

        {{#each powerMods}}
            <div class="form-group">
                <label>{{this.name}} ({{this.cost}} PP)</label>
                <div class="form-fields">
                    <input type="checkbox" name="{{@key}}"
                           data-dtype="Boolean" {{checked this.checked}} />
                </div>
                <p class="hint">{{{this.hintEnriched}}}</p>
            </div>
        {{/each}}
    </fieldset>

    <h3 class="form-header">{{powerName}} description</h3>
    {{{powerDesc}}}

</div>
